@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    overflow-y: auto;
}

body {
    background: #000000;
    background: -webkit-linear-gradient(to bottom, #434343, #000000);
    background: linear-gradient(to bottom, #434343, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.Loader{
    border-top-color: #3498db;
}

@media (max-width: 896px) and (min-width: 760px) {
    .md\:ml-4 {
      margin-left: 1rem; 
    }
    .md\:w-1\/2 {
      width: 50%;
    }
  }